/*FONT FOR CONTENT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*FONT MENU*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poppins:wght@700&display=swap');

/*FONT HEADER 1*/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@media all and (max-width: 1366px) {
    html {
        zoom: 0.8;
        /* Old IE only */
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

body {
    margin: 0px;
    font-family: 'Roboto', cursive;
}

h1 {
    font-family: Caveat Brush;
    font-weight: bold !important;
    color: #033f52 !important;
    font-size: 4em !important;
}

h2 {
    font-family: Caveat Brush;
    font-weight: bold !important;
    color: #B98C2F !important;
    font-size: 3em !important;
}

.special-link {
    font-family: 'Roboto', cursive;
    font-weight: bold !important;
    color: #B98C2F;
    text-decoration: none !important;
    font-size: 0.8em !important;
}

/*1. MENU*/
/*1.1.logo*/
.logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 20%;
}

/*1.2.menu*/
nav {
    font-family: 'Dancing Script', cursive;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 2;

}

.main-menu {
    display: flex;
    align-items: center;
    list-style: none;
    width: 80%;
}

.main-menu li {
    position: relative;
    margin-right: 90px;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.main-menu ul.sub-menu {
    position: absolute;
    padding: 10px 0px;
    list-style: none;
    width: 150px;
    display: none;
    background-color: white;
}

.main-menu li:hover ul.sub-menu {
    display: block;
}

.main-menu li a:hover {
    color: #B98C2F;
}

.main-menu ul.sub-menu a {
    width: 120px;
    padding: 8px 0px 8px 15px;
    border-bottom: 1px solid wheat;
}

.main-menu ul.sub-menu li:hover a {
    border-bottom: 1px solid #B98C2F;
}

/*2.FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #033f52;
}

/*2.1.start title*/
.start-footer {
    font-weight: bold;
    font-size: 2em;
    color: white;
    margin: 30px 0 30px 0;
    width: 65vw;
}

/*2.2.main content 1*/
.main-container1 {
    display: flex;
    width: fit-content;
    align-items: start;
    width: 65vw;
}

/*2.3.list*/
.sub-container li {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.sub-container span {
    line-height: 1px;
}

.sub-container {
    padding: 0;
    margin: 0 65px 0 0;
}

.sub-container a {
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.sub-container li a:hover {
    color: #B98C2F;
}

/*2.4.input*/
.form-container {
    margin-left: 23vw;
}

.form-container label {
    font-size: 1.2em;
    color: white;
}

.sub-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-container input[type=email] {
    width: 15vw;
    height: 40px;
    color: white;
    background-color: transparent;
    border: thin solid white;
}

.form-container input[type=submit] {
    width: 5vw;
    height: 40px;
    background-color: transparent;
    border: thin solid white;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}

.error-container {
    color: red;
    margin-top: 10px;
}

/*2.5.icon*/
.icon-container {
    margin: 20px 0 10px 0;
    width: 65vw;
}

.icon-container a {
    text-decoration: none;
    margin-right: 15px;
}

/*2.6.line hr*/
footer hr {
    width: 70%;
    border-top: 1px solid white;

}

/*2.7.main content 2*/
.main-container2 {
    display: flex;
    width: fit-content;
    align-items: start;
    width: 65vw;
}

.main-container2 a {
    font-weight: 0.8em;
    text-decoration: none;
    color: white;
    border-right: thin solid white;
    padding-right: 15px;
    margin: 10px 15px 30px 0;
}

.main-container2 a:hover {
    color: #B98C2F;
    border-right: thin solid #B98C2F;
}

/*2.8.end title*/
.end-footer {
    font-size: 0.8em;
    color: white;
    margin-bottom: 30px;
    width: 65vw;
}

/*3.HOME PAGE*/
/*3.1.main banner*/
.home-page .main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ede6d4;
}

/*3.2.image slider header*/
.home-page h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

/*3.3.image slider*/
/*3.3.1.center slider*/
.home-page .image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*3.3.2.size slider*/
.slider {
    position: relative;
    width: 90%;
    margin-bottom: 50px;
}

.slider-card {
    padding: 0px 0px;
    margin: 50px 50px 80px 50px;
    opacity: 0.3;
    transition: all 0.3s;
}

/*3.3.3.center image*/
.owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

.owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

/*3.3.4.button*/
/*3.3.4.1.prev button*/
.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 50px);
    left: 25px;
    opacity: 1;
    font-size: 50px !important;
}

/*3.3.4.1.1.opacity prev button*/
.owl-carousel .owl-nav .owl-prev .left {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.owl-carousel .owl-nav .owl-prev .left:hover {
    opacity: 1;
}

/*3.3.4.2.next button*/
.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 50px);
    right: 25px;
    opacity: 1;
    font-size: 50px !important;
}

/*3.3.4.2.1.opacity next button*/
.owl-carousel .owl-nav .owl-next .right {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.owl-carousel .owl-nav .owl-next .right:hover {
    opacity: 1;
}

/*3.3.5.bullet list*/
.owl-dots {
    text-align: center;
}

.owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ccc !important;
    margin-left: 3px;
    margin-right: 3px;
    outline: none;
}

.owl-dots .owl-dot.active {
    background: #B98C2F !important;
}

/*3.3.6.slider animation*/
.slider .owl-item.active.center .slider-card {
    transform: scale(1.3);
    opacity: 1;
}

/*3.4.content left*/
.container-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.sub-container-content-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

/*3.4.1.text box*/
.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-left: 20px;
    padding: 40px;
}

.left p {
    margin-left: 50px;
}

/*3.4.2.banner left header 2*/
.sub-left {
    position: relative;
    text-align: center;
}

/*3.4.3.left box*/
.center-left {
    position: relative;
    margin-bottom: 20px;
}

.center-left img {
    display: block;
    width: 100%;
}

/*3.4.3.1.left text*/
.center-left h2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*3.4.4.learn more box*/
.learn-more {
    position: relative;
    text-align: center;
    margin-left: 50px;
}

.learn-more .learn-more-text-box {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-24%, -30%);
    z-index: 1;
    width: 125px;
    height: 35px;
    background-color: #033f52;
    z-index: -1;
}

/*3.4.4.1.learn more text*/
.center .special-link {
    position: absolute;
    top: 50%;
    left: 32%;
    transform: translate(-20%, -40%);
}

/*3.4.4.1.learn more box animation*/
.center:hover .learn-more-text-box {
    z-index: 1;
    background-color: #056381;
}

.center:hover .special-link {
    color: #ffb023;
}

/*3.5.content 2*/
.sub-container-content-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

/*3.5.1.text box*/
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 45%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    margin-right: 20px;
    padding: 40px;
}

.right p {
    margin-right: 50px;
}

/*3.5.2.banner right header 2*/
.sub-right {
    position: relative;
    text-align: center;
}

/*3.5.3.right box*/
.center-right {
    position: relative;
    margin-bottom: 20px;
}

.center-right img {
    display: block;
    width: 100%;
}

/*3.5.3.1.right text*/
.center-right h2 {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.right .learn-more {
    margin-right: 50px;
}

/*Calligraphy*/
/* header2 calligraphy*/
.div1 {
  text-align: center;
  margin-top: 20px;
}

.img1 {
  width: 70%;
  height: 55%;
  box-shadow: 6px 7px 5px rgb(127, 138, 138);
}
/*header 3 calligraphy*/
.div2-blog {
  width: 100%;
  position: relative;
  margin-top: 50px;

}

.div2-1-blog {
  box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding-top: 30px;
  padding-left: 20px;
}
.div2-1-blog>h3{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: burlywood;
  background-image: url(imges/img-logo/blog/banner-left-header2.png);
 padding: 20px 15px 10px 32px;
 background-repeat: no-repeat;
 cursor: pointer;
 font-weight: 400;
 font-size: 1.6em; 
}
/*header 4 calligraphy*/
.div3-blog {
  margin-top: 65px;
}
.div3-1-blog{
  box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding-top: 20px;
 padding-left: 40px;
}
.div3-1-blog>h3{
 text-align: left;
  font-family:'Pacifico', cursive;
 color: burlywood;
  background-image:url(imges/img-logo/blog/banner-left-header2.png);
  padding: 20px 15px 10px 32px;
 background-repeat: no-repeat;
 cursor: pointer;
 font-weight: 400;
 font-size: 1.6em; 
}
/*header 5 calligraphy*/
.h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: medium;
  padding-bottom: 30px;

}

.div4-blog {
  margin: 40px;
  text-align: center;
}

.div4-1-blog {
  background-color: burlywood;
}

.img2 {
  width: 50%;
  height: 30%;
}
/*header 6 calligraphy*/
.div5-blog {
  background-color: rgb(154, 181, 231);
  border-radius: 10px;
  text-align: center;
  margin: 45px;
  font-family: 'Pacifico', cursive;
  box-shadow: inset 3px 3px 5px;
}

.div5-1-blog {
  font-family: 'Satisfy', cursive;
  margin-top: 20px;
  padding: 20px;
}

.div5-1-blog>h3 {
  color: rgb(85, 183, 183);
  text-align: center;
}

.div5-1-blog>img {

  border-radius: 5px;
  width: 85%;
  height: 60%;
  border: solid 1px;
}

.div5-2-blog {
  margin-top: 20px;
  font-family: 'Satisfy', cursive;
  padding: 20px;
}

.div5-2-blog>h3 {
  color: rgb(85, 183, 183);
  text-align: center;
}

.div5-2-blog>img {
  border-radius: 7px;
  width: 100%;
  height: 60%;
  border: solid 1px;
}
/*list img*/
.list-hover {
  filter: grayscale(100%);
  transition: 1s ease-out;
  cursor: pointer;
}


.list-hover:hover {
  transform: translateY(-15px);
  transition: 1s;
  filter: grayscale(0);
}

.div6-blog {
  text-align: center;
  align-items: center;
  padding-top: 30px;
  font-family: 'Satisfy', cursive;

}
/*learn-basic*/
.div1-basic{
   margin-top: 40px;
  margin-bottom: 30px;
   
}
.div1-basic>h2{
    text-align: center;
    margin-top: 30px;
    color: chocolate;
    font-family: 'Pacifico', cursive;

}
.div2-basic{
   margin-top: 80px;
  
}
.div2-1-basic{
    box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding-top: 70px;
    font-size: 1.4em;
}
.div2-2-basic{
    padding-top: 50px;

}
.div3-basic{
    padding-top: 50px;
 font-size: 1.4em;
 text-align: start;
  
}
.div4-basic{
    text-align: center;
    margin: 65px;
   
}
.div5-basic{
    margin: 20px;
  
}
.div5-1-basic{
    box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
    border-radius: 10px;
   font-size: 1.4em;
 
}
.div6-basic{
    margin-top: 70px;
}
.div7-basic{
    margin: 20px;
}
/*learn-intermeidate*/
.div1-inter{
    text-align: center;
    margin: 50px;
}
.div2-inter{
    margin: 60px;
}
.div2-1-inter{
    box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
    border-radius: 10px;
    text-align: end;
}
.div2-2-inter{
    text-align: start;
    box-shadow: rgba(83, 87, 91, 0.2) 0px 8px 24px;
    border-radius: 10px;
}







